<div class="main">
  <form class="search-box" method="POST" action="{%url 'result'%}">
    {% csrf_token %}
    <input
      type="text"
      required
      placeholder="링크를 넣어 주세요!"
      name="article-link"
    />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
  <div class="result">
    <div class="loading">
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="score">
      <div class="score-detail">
        <div class="score-detail__left">
          <div class="score-detail__small-text">
            <span class="score-detail__press"></span>
            <span class="score-detail__reporter"></span>
            <span class="score-detail__time"></span>
          </div>
          <div class="score-detail__title"></div>
        </div>
        <div class="score-detail__right">
          <img
            src=""
            style="
              width: 150px;
              height: 150px;
              object-fit: cover;
              border-radius: 10px;
            "
          />
        </div>
      </div>
      <div class="score-result">
        <div class="score-result__container">
          <span class="score-result__num">
            <span></span>
            <span>/100</span>
          </span>
          <span class="score-result__text"></span>
        </div>
        <img
          src=""
          style="
            max-width: 240px;
            object-fit: cover;
            border-radius: 10px;
            margin-right: -70px;
          "
        />
      </div>
      <button><i class="fa-solid fa-x"></i></button>
    </div>
  </div>
</div>
