<div class="main">
  <form class="search-box" method="POST" action="{%url 'result'%}">
    {% csrf_token %}
    <input
      type="text"
      required
      placeholder="링크를 넣어 주세요!"
      name="article-link"
    />
    <button type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>
  <div class="result">
    <div class="loading">
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="bars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="score">
      <progress max="100" value="50 " class="score-slider"></progress>
      <div class="score-result"></div>
      <div class="score-detail"></div>
    </div>
    <button><i class="fa-solid fa-x"></i></button>
  </div>
</div>
