{% for article in articles%}
<div class="modal" id="news-{{article.id}}">
  <div class="modal-header">
    <div class="title">{{article.title}}</div>
    <button data-close-button class="close-button">&times;</button>
  </div>
  <div class="modal-body">
    <div data-result class="modal-score">
      <div class="modal-num">{{article.result|floatformat:"0"}}</div>
      <div class="modal-text"></div>
    </div>
  </div>
  <a href="{{article.link}}" target="_blank"
    ><button class="link-button">본문 링크</button></a
  >
</div>
{% endfor %}
<div class="" id="overlay"></div>
