.score-slider {
  appearance: none;
  width: 100%;
}
.score-slider::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 10px;
  box-shadow: inset 3px 3px 10px #ccc;
}
.score-slider::-webkit-progress-value {
  border-radius: 10px;
  background: #1d976c;
  background: -webkit-linear-gradient(
    to right,
    #e5405e 0%,
    #ffdb3a 45%,
    #3fffa2 100%
  );
  background: linear-gradient(to right, #e5405e 0%, #ffdb3a 45%, #3fffa2 100%);
}
